<div role="button" class="ui-kit-control">
    <input type="button" class="ui-kit-input ui-kit-btn" value="Normal Default Button" />
    <i class="ui-kit-control-icon icon-check"></i>
</div>

<div role="button" class="ui-kit-control">
    <input type="button" class="ui-kit-input ui-kit-btn" value="Normal Default Button" disabled />
    <i class="ui-kit-control-icon icon-check"></i>
</div>

<div role="button" class="ui-kit-control dark-btn iconed">
    <input type="button" class="ui-kit-input ui-kit-btn" value="Iconed Dark Button" />
    <i class="ui-kit-control-icon icon-check"></i>
</div>

<div role="button" class="ui-kit-control success-btn iconed end-icon">
    <input type="button" class="ui-kit-input ui-kit-btn" value="End Iconed Success Button" />
    <i class="ui-kit-control-icon icon-camera"></i>
</div>

<div role="button" class="ui-kit-control success-btn iconed end-icon">
    <input type="button" class="ui-kit-input ui-kit-btn" value="End Iconed Success Button" disabled />
    <i class="ui-kit-control-icon icon-camera"></i>
</div>

<div role="button" class="ui-kit-control danger-btn iconed end-icon">
    <input type="button" class="ui-kit-input ui-kit-btn" value="Danger Button" />
    <i class="ui-kit-control-icon icon-camera"></i>
</div>

<div role="button" class="ui-kit-control warning-btn">
    <input type="button" class="ui-kit-input ui-kit-btn" value="Warning Button" />
    <i class="ui-kit-control-icon icon-camera"></i>
</div>

<div role="button" class="ui-kit-control grey-btn">
    <input type="button" class="ui-kit-input ui-kit-btn" value="Grey Button" />
    <i class="ui-kit-control-icon icon-camera"></i>
</div>

<div role="button" class="ui-kit-control trans-btn">
    <input type="button" class="ui-kit-input ui-kit-btn" value="Transparent Button" />
    <i class="ui-kit-control-icon icon-camera"></i>
</div>

<div role="button" class="ui-kit-control white-btn">
    <input type="button" class="ui-kit-input ui-kit-btn" value="White Button" />
    <i class="ui-kit-control-icon icon-camera"></i>
</div>