<div role="form" class="ui-kit-form">
    <div role="row" class="ui-kit-form-row">
        <div role="gridcell" class="ui-kit-form-cell">
            <div class="cell-label">
                First Name
            </div>
            <div class="cell-control">
                <div role="textbox" class="ui-kit-control">
                    <!--<span class="ui-kit-req-val icon-warning" data-msg="This field is requried"></span>-->
                    <input type="text" class="ui-kit-input ui-kit-field" placeholder="First Name  ..." />
                </div>
            </div>
        </div>
        <div role="gridcell" class="ui-kit-form-cell">
            <div class="cell-label required">
                Required Last Name
            </div>
            <div class="cell-control">
                <div role="textbox" class="ui-kit-control">
                    <span class="ui-kit-req-val icon-warning" style="visibility: visible" data-msg="This field is requried"></span>
                    <input type="text" class="ui-kit-input ui-kit-field" placeholder="Last Name ..." />
                    <i class="ui-kit-control-icon icon-camera"></i>
                </div>
            </div>
        </div>
    </div>
    <div role="row" class="ui-kit-form-row">
        <div role="gridcell" class="ui-kit-form-cell">
            <div class="cell-label">
                Focused Input
            </div>
            <div class="cell-control ">
                <div role="textbox" class="ui-kit-control">
                    <!--<span class="ui-kit-req-val icon-warning" data-msg="This field is requried"></span>-->
                    <input type="text" class="ui-kit-input ui-kit-field" placeholder="First Name  ..." />
                </div>
            </div>
        </div>
        <div role="gridcell" class="ui-kit-form-cell">
            <div class="cell-label">
                Focused Input
            </div>
            <div class="cell-control ">
                <div role="textbox" class="ui-kit-control">
                    <!--<span class="ui-kit-req-val icon-warning" data-msg="This field is requried"></span>-->
                    <input type="text" class="ui-kit-input ui-kit-field" placeholder="First Name  ..." />
                </div>
            </div>
        </div>
    </div>
</div>

<div role="form" class="ui-kit-form">
    <div role="row" class="ui-kit-form-row">
        <div role="gridcell" class="ui-kit-form-cell">
            <div class="cell-label">
                name 
            </div>
            <div class="cell-control">
                <div role="textbox" class="ui-kit-control">
                    <input type="text" class="ui-kit-input ui-kit-field" placeholder="First Name  ..." />
                </div>
            </div>
        </div>
        <div role="gridcell" class="ui-kit-form-cell">
            <div class="cell-label required">
                email
            </div>
            <div class="cell-control">
                <div role="textbox" class="ui-kit-control">
                    <span class="ui-kit-req-val icon-warning" data-msg="This field is requried" style="visibility: visible"></span>
                    <input type="text" class="ui-kit-input ui-kit-field" placeholder="First Name  ..." />
                </div>
            </div>
        </div>
        <div role="gridcell" class="ui-kit-form-cell">
            <div class="cell-label">
                password
            </div>
            <div class="cell-control">
                <div role="button" class="ui-kit-control">
                    <input type="button" class="ui-kit-input ui-kit-btn" value="send" />
                </div>
            </div>
        </div>
    </div>
</div>