<!--Grid Menu-->
<div role="treegrid" class="ui-kit-grid">
    <table role="grid" class="ui-kit-grid-control">
        <thead>
            <tr>
                <th>
                    <span class="ng-binding">مقدم الطلب</span>
                </th>
                <th>
                    <span class="ng-binding">رقم الطلب</span>
                </th>
                <th>
                    <span class="ng-binding">التاريخ</span>
                </th>
                <th>
                    <span class="ng-binding">التاريخ الهجري</span>
                </th>
                <th>
                    <span class="ng-binding">الخدمه</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>rcypublic</td>
                <td>OD-17-110653</td>
                <td>2017/02/14</td>
                <td>1438/05/17</td>
                <td>خدمة طلب إفراغ صك</td>
            </tr>
            <tr>
                <td>rcypublic</td>
                <td>EP-17-110657</td>
                <td>2017/02/14</td>
                <td>1438/05/17</td>
                <td>طلب اصدار تصريح بيئي للتشغيل</td>
            </tr>
            <tr>
                <td>rcypublic</td>
                <td>EP-17-110654</td>
                <td>2017/02/14</td>
                <td>1438/05/17</td>
                <td>طلب اصدار تصريح بيئي للتشغيل</td>
            </tr>
            <tr>
                <td>rcypublic</td>
                <td>BP-17-105652</td>
                <td>2017/02/06</td>
                <td>1438/05/09</td>
                <td>طلب تجديد رخص البناء</td>
            </tr>
        </tbody>
    </table>
</div>