<div role="textbox" class="ui-kit-control">
    <input type="text" class="ui-kit-input ui-kit-field" placeholder="Search  ..." />
    <i class="ui-kit-control-icon icon-camera"></i>
</div>

<div role="textbox" class="ui-kit-control">
    <input type="text" class="ui-kit-input ui-kit-field" placeholder="Search  ..." disabled />
    <i class="ui-kit-control-icon icon-camera"></i>
</div>

<div role="textbox" class="ui-kit-control iconed end-icon">
    <input type="text" class="ui-kit-input ui-kit-field" placeholder="Search  ..." />
    <i class="ui-kit-control-icon icon-camera"></i>
</div>

<div role="textbox" class="ui-kit-control iconed">
    <input type="text" class="ui-kit-input ui-kit-field" placeholder="Search  ..." />
    <i class="ui-kit-control-icon icon-circle-minus"></i>
</div>