<div role="group" class="ui-kit-group">
    <div role="button" class="ui-kit-control grey-btn iconed end-icon">
        <button href="" class="ui-kit-input ui-kit-btn" value="Default Button">Link</button>
        <i class="ui-kit-control-icon icon-link"></i>
    </div>
    <div role="button" class="ui-kit-control grey-btn iconed end-icon">
        <input type="button" class="ui-kit-input ui-kit-btn" value="Grey Button" />
        <i class="ui-kit-control-icon icon-camera"></i>
    </div>
    <div role="textbox" class="ui-kit-control iconed end-icon">
        <input type="text" class="ui-kit-input ui-kit-field" placeholder="Search  ..." />
        <i class="ui-kit-control-icon icon-search"></i>
    </div>
    <div role="button" class="ui-kit-control grey-btn end-icon">
        <a class="ui-kit-input ui-kit-btn">
            <i class="ui-kit-control-icon icon-arrow-down"></i>
        </a>
    </div>
</div>