<div role="alert" class="ui-kit-alert success">
    <i class="ui-kit-alert-icon icon-check"></i>
    <span type="button" class="ui-kit-alert-content">Success</span>
</div>

<div role="alert" class="ui-kit-alert caution">
    <i class="ui-kit-alert-icon icon-warning"></i>
    <span type="button" class="ui-kit-alert-content">Caution</span>
</div>

<div role="alert" class="ui-kit-alert danger">
    <i class="ui-kit-alert-icon icon-cross"></i>
    <span type="button" class="ui-kit-alert-content">Danger</span>
</div>

<div role="alert" class="ui-kit-alert info">
    <i class="ui-kit-alert-icon icon-eye"></i>
    <span type="button" class="ui-kit-alert-content">Info</span>
</div>