<div role="button" class="ui-kit-control">
    <input type="button" class="ui-kit-input ui-kit-btn" value="Target Modal" data-toggle="modal" data-target="#myModal" />
    <i class="ui-kit-control-icon icon-check"></i>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="icon-cross"></i>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <div role="button" class="ui-kit-control grey-btn">
                    <input type="button" class="ui-kit-input ui-kit-btn" value="Close" data-dismiss="modal" />
                    <i class="ui-kit-control-icon icon-check"></i>
                </div>
                <div role="button" class="ui-kit-control success-btn">
                    <input type="button" class="ui-kit-input ui-kit-btn" value="Save Changes" />
                    <i class="ui-kit-control-icon icon-check"></i>
                </div>
            </div>
        </div>
    </div>
</div>