<div class="text-center">
    <ul class="pagination">

        <!--First button-->
        <li title="First page" aria-label="First page" class="disabled">
            <span>«</span>
        </li>

        <!--Prev button-->
        <li title="Previous page" aria-label="Previous page" class="disabled">
            <span aria-hidden="true">‹</span>
        </li>


        <!--Current button-->
        <li class="active"><span>1</span></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>


        <!--Next button-->
        <li title="Next page" aria-label="Next page" class="">
            <a href="#"><span aria-hidden="true">›</span></a>
        </li>

        <!--Last button-->
        <li title="Last page" aria-label="Last page" class="">
            <a href="#"><span aria-hidden="true">»</span></a>
        </li>

    </ul>
</div>