<div role="radio" class="ui-kit-control">
    <input type="radio" class="toggler-input" />
    <label class="toggler-btn">Normal Radio Button</label>
    <span class="toggler-state"></span>
</div>

<div role="radio" class="ui-kit-control">
    <input type="radio" class="toggler-input" checked="checked" />
    <label class="toggler-btn">Checked Radio</label>
    <span class="toggler-state"></span>
</div>

<div role="radio" class="ui-kit-control">
    <input type="radio" class="toggler-input" disabled="disabled" />
    <label class="toggler-btn">Disabled Radio</label>
    <span class="toggler-state"></span>
</div>

<div role="radio" class="ui-kit-control">
    <input type="radio" class="toggler-input" checked="checked" disabled="disabled" />
    <label class="toggler-btn">Disabled Checked</label>
    <span class="toggler-state"></span>
</div>

<hr />

<h4 class="mr-b10">Horizontal Grouping</h4>
<div class="ui-kit-group">
    <div role="radio" class="ui-kit-control">
        <input type="radio" name="group1" class="toggler-input" />
        <label class="toggler-btn">Label 1</label>
        <span class="toggler-state"></span>
    </div>
    <div role="radio" class="ui-kit-control">
        <input type="radio" name="group1" class="toggler-input" />
        <label class="toggler-btn">Label 2</label>
        <span class="toggler-state"></span>
    </div>
</div>

<h4 class="mr-b10">vertical Grouping</h4>
<!--NOTE: class 'vertical' is added to the top wrapper-->
<div class="ui-kit-group vertical">
    <div role="radio" class="ui-kit-control">
        <input type="radio" name="group2" class="toggler-input" />
        <label class="toggler-btn">Label 1</label>
        <span class="toggler-state"></span>
    </div>
    <div role="radio" class="ui-kit-control">
        <input type="radio" name="group2" class="toggler-input" />
        <label class="toggler-btn">Label 2</label>
        <span class="toggler-state"></span>
    </div>
</div>