<!--Nav Menu-->
<nav class="nav-menu-placeholder pull-start-sm">
    <a href="#" class="nav-menu-home-link visible-xs">
        <img class="nav-menu-icon" src="images/rcy-logo.png" />
        <span class="nav-menu-title">الهيئة الملكية بالجبيل وينبع</span>
    </a>
    <label for="navMenuToggler" class="nav-menu-close visible-xs">
        <i class="icon-close"></i>
        <span>إغلاق</span>
    </label>
    <div class="ms-core-listMenu-horizontalBox">
        <ul class="ms-core-listMenu-root">
            <li>
                <ul class="static">
                    <li class="selected">
                        <span>الصفحة الرئيسية</span>
                    </li>
                    <li>
                        <a href="#">عن الهيئة الملكية</a>
                    </li>
                    <li>
                        <a href="#">الخدمات الإلكترونية</a>
                        <ul class="dynamic">
                            <li>
                                <a href="#">قطاع الأعمال</a>
                            </li>
                            <li>
                                <a href="#">المناقصات والعقود</a>
                            </li>
                            <li>
                                <a href="#">الافراد</a>
                            <li>
                                <a href="#">الفواتير</a>
                            </li>
                            <li>
                                <a href="#">قطاع الأعمال</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">المركز الإعلامي</a>
                    </li>
                    <li>
                        <a href="#">الأسئلة المتكررة</a>
                    </li>
                    <li>
                        <a href="#">استقصائات</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>