<div role="tablist" class="ui-kit-tabs">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a>
        </li>
        <li role="presentation">
            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
        </li>
        <li role="presentation">
            <a href="#messagesTab" aria-controls="messagesTab" role="tab" data-toggle="tab">Messages</a>
        </li>
        <li role="presentation">
            <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home">Tab 1</div>
        <div role="tabpanel" class="tab-pane fade" id="profile">Tab 2</div>
        <div role="tabpanel" class="tab-pane fade" id="messagesTab">Tab 3</div>
        <div role="tabpanel" class="tab-pane fade" id="settings">Tab 4</div>
    </div>
</div>