<div role="button" class="ui-kit-control success-btn iconed">
    <button class="ui-kit-input ui-kit-btn tooltipped" data-title="Default ToolTip">Hover Me</button>
    <i class="ui-kit-control-icon icon-check"></i>
</div>

<div role="button" class="ui-kit-control success-btn iconed">
    <button class="ui-kit-input ui-kit-btn tooltipped start" data-title="Start ToolTip">Start Tooltip</button>
    <i class="ui-kit-control-icon icon-check"></i>
</div>

<div role="button" class="ui-kit-control success-btn iconed">
    <button class="ui-kit-input ui-kit-btn tooltipped end" data-title="End ToolTip">End Tooltip</button>
    <i class="ui-kit-control-icon icon-check"></i>
</div>

<div role="button" class="ui-kit-control success-btn iconed">
    <button class="ui-kit-input ui-kit-btn tooltipped top" data-title="Top ToolTip">Top Tooltip</button>
    <i class="ui-kit-control-icon icon-check"></i>
</div>

<div role="button" class="ui-kit-control success-btn iconed">
    <button class="ui-kit-input ui-kit-btn tooltipped top stretch" data-title="Stretched ToolTip">Stretched Tooltip</button>
    <i class="ui-kit-control-icon icon-check"></i>
</div>