<div class="ui-kit-wizzard">
    <div class="ui-kit-wizzard-header-wrapper">
        <div class="table-layout full-width fixed-table txt-center">
            <div class="table-row-layout ui-kit-wizzard-header">
                <div class="table-cell-layout ui-kit-wizzard-tab-header">
                    البيانات الشخصية
                </div>
                <div class="table-cell-layout ui-kit-wizzard-tab-header">
                    العناوبن و الاتصال 
                </div>
                <div class="table-cell-layout ui-kit-wizzard-tab-header">
                    النظام و الشروط
                </div>
                <div class="table-cell-layout ui-kit-wizzard-tab-header">
                    المرفقات و التعليقات
                </div>
            </div>
        </div>
    </div>
</div>


