// _margin.scss

.zero-mrg {
    margin: 0 !important;
}

.zero-horiz-mrg {
    margin-right: 0;
    margin-left: 0;
}

.zero-vert-mrg {
    margin-top: 0;
    margin-bottom: 0;
}

.mr-10 {
    margin: 10px;
}

.mr-20 {
    margin: 20px;
}

.mr-30 {
    margin: 30px;
}

.mr-n20 {
    margin: -20px;
}

.mr-v10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mr-v20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mr-h10 {
    margin-right: 10px;
    margin-left: 10px;
}

.mr-h20 {
    margin-right: 20px;
    margin-left: 20px;
}

.mr-nv20 {
    margin-top: -20px;
    margin-bottom: -20px;
}

.mr-v30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mr-nv30 {
    margin-top: -30px;
    margin-bottom: -30px;
}

.mr-t5 {
    margin-top: 5px;
}

.mr-t10 {
    margin-top: 10px;
}

.mr-t20 {
    margin-top: 20px;
}

.mr-nt20 {
    margin-top: -20px;
}

.mr-t30 {
    margin-top: 30px;
}

.mr-nt30 {
    margin-top: -30px;
}

.mr-t40 {
    margin-top: 40px;
}

.mr-t50 {
    margin-top: 50px;
}

.mr-b5 {
    margin-bottom: 5px;
}

.mr-b10 {
    margin-bottom: 10px;
}

.mr-b20 {
    margin-bottom: 20px;
}

.mr-auto {
    margin: auto;
}
