// _positions.scss

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.fit-all {
    @include fit-all();
}

.fit-all-abs {
    @include fit-all(absolute);
}

.fit-all-fixed {
    @include fit-all(fixed);
}

.pull-none {
    float: none;
}

.pull-start {
    @include pull-start();
}

.pull-end {
    @include pull-end();
}

.pull-start-sm, .pull-start-md {
    @include pull-start();
}

.pull-end-sm, .pull-end-md {
    @include pull-end();
}

.center-vert {
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    @extend .in-block, .absolute;
}

.center-horiz {
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    @extend .in-block, .relative;
}

.center-all, .center-all-sm {
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    @extend .absolute;
}
