// _utlitities.scss

// box
.border-box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.full-width {
    width: 100% !important;
}

.full-height {
    height: 100% !important;
}

.clear {
    clear: both;
}

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

.of-hidden {
    overflow: hidden;
}
// icon sizes
.icon-size-xs {
    font-size: $icon-size-xs;
}

.icon-size-sm {
    font-size: $icon-size-sm;
}

.icon-size-md {
    font-size: $icon-size-sm;
}

.icon-size-lg {
    font-size: $icon-size-lg;
}

.icon-size-xlg {
    font-size: $icon-size-xlg;
}

// decorations
.cornered {
    border-radius: $border-radius-regular;
}

.cornered-small {
    border-radius: $border-radius-small;
}

.cornered-large {
    border-radius: $border-radius-large;
}

.sandbox {
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    @extend .bg_white-clr;
}

.overlay {
    background-color: $overlay-clr;
    z-index: 999;
    @extend .fit-all-fixed, .simple-mono-transition, .fade-out;

    &.shown {
        @extend .fade-in;
    }

    &.light {
        background-color: $light-overlay-clr;
    }
}
