@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?99ds40') format('truetype'),
    url('fonts/icomoon.woff?99ds40') format('woff'),
    url('fonts/icomoon.svg?99ds40#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-align-justify:before {
  content: "\e904";
}
.icon-arrow-down:before {
  content: "\e905";
}
.icon-arrow-left:before {
  content: "\e906";
}
.icon-arrow-right:before {
  content: "\e907";
}
.icon-arrow-up:before {
  content: "\e908";
}
.icon-asterisk:before {
  content: "\e909";
}
.icon-camera:before {
  content: "\e90a";
}
.icon-check:before {
  content: "\e90b";
}
.icon-circle-check:before {
  content: "\e90c";
}
.icon-circle-cross:before {
  content: "\e90d";
}
.icon-circle-minus:before {
  content: "\e90e";
}
.icon-circle-plus:before {
  content: "\e90f";
}
.icon-clipboard:before {
  content: "\e910";
}
.icon-clipboard-checked:before {
  content: "\e911";
}
.icon-clipboard-checked2:before {
  content: "\e912";
}
.icon-clipboard-list:before {
  content: "\e913";
}
.icon-clipboard-list2:before {
  content: "\e914";
}
.icon-clipboard-text:before {
  content: "\e915";
}
.icon-clipboard-text2:before {
  content: "\e916";
}
.icon-clock:before {
  content: "\e917";
}
.icon-cloud-download:before {
  content: "\e918";
}
.icon-cloud-upload:before {
  content: "\e919";
}
.icon-cog:before {
  content: "\e91a";
}
.icon-command:before {
  content: "\e91b";
}
.icon-content-left:before {
  content: "\e91c";
}
.icon-content-right:before {
  content: "\e91d";
}
.icon-contract:before {
  content: "\e91e";
}
.icon-cross:before {
  content: "\e91f";
}
.icon-delete:before {
  content: "\e920";
}
.icon-download:before {
  content: "\e921";
}
.icon-ellipsis:before {
  content: "\e922";
}
.icon-esc:before {
  content: "\e923";
}
.icon-expand:before {
  content: "\e924";
}
.icon-eye:before {
  content: "\e925";
}
.icon-fast-forward:before {
  content: "\e926";
}
.icon-folder:before {
  content: "\e927";
}
.icon-globe:before {
  content: "\e928";
}
.icon-grid:before {
  content: "\e929";
}
.icon-grid-2:before {
  content: "\e92a";
}
.icon-heart:before {
  content: "\e92b";
}
.icon-inbox:before {
  content: "\e92c";
}
.icon-link:before {
  content: "\e92d";
}
.icon-location:before {
  content: "\e92e";
}
.icon-lock:before {
  content: "\e92f";
}
.icon-lock2:before {
  content: "\e930";
}
.icon-lock-open:before {
  content: "\e931";
}
.icon-lock-open2:before {
  content: "\e932";
}
.icon-marquee:before {
  content: "\e933";
}
.icon-marquee-minus:before {
  content: "\e934";
}
.icon-marquee-plus:before {
  content: "\e935";
}
.icon-maximize:before {
  content: "\e936";
}
.icon-menu:before {
  content: "\e937";
}
.icon-minimize:before {
  content: "\e938";
}
.icon-minus:before {
  content: "\e939";
}
.icon-monitor:before {
  content: "\e93a";
}
.icon-move:before {
  content: "\e93b";
}
.icon-notebook-list:before {
  content: "\e93c";
}
.icon-notebook-list2:before {
  content: "\e93d";
}
.icon-notice2:before {
  content: "\e93e";
}
.icon-notice3:before {
  content: "\e93f";
}
.icon-notifications:before {
  content: "\e940";
}
.icon-notifications_active:before {
  content: "\e941";
}
.icon-notifications_none:before {
  content: "\e942";
}
.icon-notifications_off:before {
  content: "\e943";
}
.icon-open:before {
  content: "\e944";
}
.icon-outbox:before {
  content: "\e945";
}
.icon-paper:before {
  content: "\e946";
}
.icon-paper-clip:before {
  content: "\e947";
}
.icon-paper-stack:before {
  content: "\e948";
}
.icon-pause:before {
  content: "\e949";
}
.icon-pen-angled:before {
  content: "\e94a";
}
.icon-pen-angled2:before {
  content: "\e94b";
}
.icon-play:before {
  content: "\e94c";
}
.icon-plus:before {
  content: "\e94d";
}
.icon-power:before {
  content: "\e94e";
}
.icon-printer:before {
  content: "\e94f";
}
.icon-reload:before {
  content: "\e950";
}
.icon-repeat:before {
  content: "\e951";
}
.icon-reply:before {
  content: "\e952";
}
.icon-rewind:before {
  content: "\e953";
}
.icon-ribbon:before {
  content: "\e954";
}
.icon-schedule:before {
  content: "\e955";
}
.icon-search:before {
  content: "\e956";
}
.icon-server:before {
  content: "\e957";
}
.icon-share:before {
  content: "\e958";
}
.icon-signal:before {
  content: "\e959";
}
.icon-skip-back:before {
  content: "\e95a";
}
.icon-skip-forward:before {
  content: "\e95b";
}
.icon-square-check:before {
  content: "\e95c";
}
.icon-square-cross:before {
  content: "\e95d";
}
.icon-square-minus:before {
  content: "\e95e";
}
.icon-square-plus:before {
  content: "\e95f";
}
.icon-star:before {
  content: "\e960";
}
.icon-stop:before {
  content: "\e961";
}
.icon-tag:before {
  content: "\e962";
}
.icon-tag2:before {
  content: "\e963";
}
.icon-tags:before {
  content: "\e964";
}
.icon-toggle:before {
  content: "\e965";
}
.icon-trash:before {
  content: "\e966";
}
.icon-trash-can:before {
  content: "\e967";
}
.icon-trash-can2:before {
  content: "\e968";
}
.icon-unlock:before {
  content: "\e969";
}
.icon-upload:before {
  content: "\e96a";
}
.icon-video:before {
  content: "\e96b";
}
.icon-warning:before {
  content: "\e96c";
}
.icon-warning2:before {
  content: "\e96d";
}
.icon-warning5:before {
  content: "\e96e";
}
.icon-zip:before {
  content: "\e96f";
}
.icon-zoom-in:before {
  content: "\e970";
}
.icon-zoom-out:before {
  content: "\e971";
}
.icon-access_alarms:before {
  content: "\e972";
}
.icon-accessibility:before {
  content: "\e973";
}
.icon-accessible:before {
  content: "\e974";
}
.icon-airline_seat_individual_suite:before {
  content: "\e975";
}
.icon-airline_seat_legroom_extra:before {
  content: "\e976";
}
.icon-airline_seat_legroom_normal:before {
  content: "\e977";
}
.icon-airline_seat_legroom_reduced:before {
  content: "\e978";
}
.icon-air-play:before {
  content: "\e979";
}
.icon-chevron-thin-right:before {
  content: "\e900";
}
.icon-chevron-thin-left:before {
  content: "\e901";
}
.icon-chevron-thin-up:before {
  content: "\e902";
}
.icon-chevron-thin-down:before {
  content: "\e903";
}

