/* ============= Custom Fonts ============= */

// GEFlow
@font-face {
    font-family: '#{custom-font}';
    src: url('#{$relative-path}fonts/GEFlow.eot?#iefix') format('embedded-opentype'), url('#{$relative-path}fonts/GEFlow.otf') format('opentype'), url('#{$relative-path}fonts/GEFlow.woff') format('woff'), url('#{$relative-path}fonts/GEFlow.ttf') format('truetype'), url('#{$relative-path}fonts/GEFlow.svg#GEFlow') format('svg');
    font-weight: normal;
    font-style: normal;
}

// GEFlow Bold
@font-face {
    font-family: '#{custom-font-bold}';
    src: url('#{$relative-path}fonts/GEFlow-Bold.eot?#iefix') format('embedded-opentype'), url('#{$relative-path}fonts/GEFlow-Bold.otf') format('opentype'), url('#{$relative-path}fonts/GEFlow-Bold.woff') format('woff'), url('#{$relative-path}fonts/GEFlow-Bold.ttf') format('truetype'), url('#{$relative-path}fonts/GEFlow-Bold.svg#GEFlow-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
