$icon-align-justify: "\e904";
$icon-arrow-down: "\e905";
$icon-arrow-left: "\e906";
$icon-arrow-right: "\e907";
$icon-arrow-up: "\e908";
$icon-asterisk: "\e909";
$icon-camera: "\e90a";
$icon-check: "\e90b";
$icon-circle-check: "\e90c";
$icon-circle-cross: "\e90d";
$icon-circle-minus: "\e90e";
$icon-circle-plus: "\e90f";
$icon-clipboard: "\e910";
$icon-clipboard-checked: "\e911";
$icon-clipboard-checked2: "\e912";
$icon-clipboard-list: "\e913";
$icon-clipboard-list2: "\e914";
$icon-clipboard-text: "\e915";
$icon-clipboard-text2: "\e916";
$icon-clock: "\e917";
$icon-cloud-download: "\e918";
$icon-cloud-upload: "\e919";
$icon-cog: "\e91a";
$icon-command: "\e91b";
$icon-content-left: "\e91c";
$icon-content-right: "\e91d";
$icon-contract: "\e91e";
$icon-cross: "\e91f";
$icon-delete: "\e920";
$icon-download: "\e921";
$icon-ellipsis: "\e922";
$icon-esc: "\e923";
$icon-expand: "\e924";
$icon-eye: "\e925";
$icon-fast-forward: "\e926";
$icon-folder: "\e927";
$icon-globe: "\e928";
$icon-grid: "\e929";
$icon-grid-2: "\e92a";
$icon-heart: "\e92b";
$icon-inbox: "\e92c";
$icon-link: "\e92d";
$icon-location: "\e92e";
$icon-lock: "\e92f";
$icon-lock2: "\e930";
$icon-lock-open: "\e931";
$icon-lock-open2: "\e932";
$icon-marquee: "\e933";
$icon-marquee-minus: "\e934";
$icon-marquee-plus: "\e935";
$icon-maximize: "\e936";
$icon-menu: "\e937";
$icon-minimize: "\e938";
$icon-minus: "\e939";
$icon-monitor: "\e93a";
$icon-move: "\e93b";
$icon-notebook-list: "\e93c";
$icon-notebook-list2: "\e93d";
$icon-notice2: "\e93e";
$icon-notice3: "\e93f";
$icon-notifications: "\e940";
$icon-notifications_active: "\e941";
$icon-notifications_none: "\e942";
$icon-notifications_off: "\e943";
$icon-open: "\e944";
$icon-outbox: "\e945";
$icon-paper: "\e946";
$icon-paper-clip: "\e947";
$icon-paper-stack: "\e948";
$icon-pause: "\e949";
$icon-pen-angled: "\e94a";
$icon-pen-angled2: "\e94b";
$icon-play: "\e94c";
$icon-plus: "\e94d";
$icon-power: "\e94e";
$icon-printer: "\e94f";
$icon-reload: "\e950";
$icon-repeat: "\e951";
$icon-reply: "\e952";
$icon-rewind: "\e953";
$icon-ribbon: "\e954";
$icon-schedule: "\e955";
$icon-search: "\e956";
$icon-server: "\e957";
$icon-share: "\e958";
$icon-signal: "\e959";
$icon-skip-back: "\e95a";
$icon-skip-forward: "\e95b";
$icon-square-check: "\e95c";
$icon-square-cross: "\e95d";
$icon-square-minus: "\e95e";
$icon-square-plus: "\e95f";
$icon-star: "\e960";
$icon-stop: "\e961";
$icon-tag: "\e962";
$icon-tag2: "\e963";
$icon-tags: "\e964";
$icon-toggle: "\e965";
$icon-trash: "\e966";
$icon-trash-can: "\e967";
$icon-trash-can2: "\e968";
$icon-unlock: "\e969";
$icon-upload: "\e96a";
$icon-video: "\e96b";
$icon-warning: "\e96c";
$icon-warning2: "\e96d";
$icon-warning5: "\e96e";
$icon-zip: "\e96f";
$icon-zoom-in: "\e970";
$icon-zoom-out: "\e971";
$icon-access_alarms: "\e972";
$icon-accessibility: "\e973";
$icon-accessible: "\e974";
$icon-airline_seat_individual_suite: "\e975";
$icon-airline_seat_legroom_extra: "\e976";
$icon-airline_seat_legroom_normal: "\e977";
$icon-airline_seat_legroom_reduced: "\e978";
$icon-air-play: "\e979";
$icon-chevron-thin-right: "\e900";
$icon-chevron-thin-left: "\e901";
$icon-chevron-thin-up: "\e902";
$icon-chevron-thin-down: "\e903";
