// text color-xs
@include generate-txt-palette($media-query: 'xs');

// background color-xs
@include generate-background-palette($media-query: 'xs');

// text transform
.uppercase-xs {
    text-transform: uppercase;
}

.capitalize-xs {
    text-transform: capitalize;
}

.lowercase-xs {
    text-transform: lowercase;
}

.three-dots-xs {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.overlay-xs {
    background-color: $overlay-clr;
    z-index: 1000;
    @extend .fit-all-fixed-xs, .simple-mono-transition-xs, .fade-out-xs;

    &.shown {
        @extend .fade-in-xs;
    }

    &.light {
        background-color: $light-overlay-clr;
    }
}

// positioning & layouts
.relative-xs {
    position: relative;
}

.absolute-xs {
    position: absolute;
}

.fixed-xs {
    position: fixed;
}

.fit-all-abs-xs {
    @include fit-all(absolute);
}

.fit-all-fixed-xs {
    @include fit-all(fixed);
}

.border-box-xs {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.full-width-xs {
    width: 100%;
}

.pull-start-sm {
    float: none;
}

.pull-end-sm {
    float: none;
}

.pull-start-xs {
    @include pull-start();
}

.pull-end-xs {
    @include pull-end();
}

.pull-none-xs {
    float: none;
}

.row-xs {
    margin-right: -15px;
    margin-left: -15px;
}

.clear-xs {
    clear: both;
}

.clearfix-xs {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

.hide-xs {
    display: none !important;
}

.block-xs {
    display: block;
}

.block-imp-xs {
    display: block !important;
}

.in-block-xs {
    display: inline-block;
    vertical-align: middle;
}

.in-table-xs {
    display: inline-table;
}

.table-cell-xs {
    display: table-cell;
}

.txt-start-xs {
    @include txt-start();
}

.txt-end-xs {
    @include txt-end();
}

.txt-center-xs {
    text-align: center;
}

.center-vert-xs {
    @extend .in-block-xs, .absolute-xs;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center-horiz-xs {
    @extend .in-block-xs, .relative-xs;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.center-all-xs {
    @extend .absolute-xs;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center-all-sm {
    top: 0;
    left: 0;
    transform: none;
    position: static;
}

.mr-t5-xs {
    margin-top: 5px;
}

.mr-t10-xs {
    margin-top: 10px;
}

.mr-t20-xs {
    margin-top: 20px;
}

.mr-t30-xs {
    margin-top: 30px;
}

.mr-t40-xs {
    margin-top: 40px;
}

.mr-t50-xs {
    margin-top: 50px;
}

.mr-b10-xs {
    margin-bottom: 10px;
}

.mr-b20-xs {
    margin-bottom: 20px;
}

.mr-b30-xs {
    margin-bottom: 30px;
}

.mr-b40-xs {
    margin-bottom: 40px;
}

.mr-b50-xs {
    margin-bottom: 50px;
}

.mr-v20-xs {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mr-b10-xs {
    margin-bottom: 10px;
}

.mr-b20-xs {
    margin-bottom: 20px;
}

.mr-b30-xs {
    margin-bottom: 30px;
}

.mr-b40-xs {
    margin-bottom: 40px;
}

.mr-b50-xs {
    margin-bottom: 50px;
}

.padd-v10-xs {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padd-v20-xs {
    padding-top: 20px;
    padding-bottom: 20px;
}

.table-layout-sm {
    display: block;

    > .table-row-layout {
        display: block;

        > .table-cell-layout {
            display: block;

            + .table-cell-layout {
                @include padd-start(0);
            }
        }
    }

    &.inline {
        @extend .in-block-xs;
    }
}

.table-layout {
    &.inline-sm {
        display: table;
    }
}

.table-layout-xs {
    display: table;

    > .table-row-layout {
        display: table-row;

        > .table-cell-layout {
            display: table-cell;

            &.top {
                vertical-align: top;
            }

            &.middle {
                vertical-align: middle;
            }

            &.bottom {
                vertical-align: bottom;
            }

            + .table-cell-layout {
                @include padd-start(20px);
            }
        }

        &.top {
            > .table-cell-layout {
                vertical-align: top;
            }
        }

        &.middle {
            > .table-cell-layout {
                vertical-align: middle;
            }
        }

        &.bottom {
            > .table-cell-layout {
                vertical-align: bottom;
            }
        }
    }

    &.middle {
        > .table-row-layout {
            > .table-cell-layout {
                vertical-align: middle;
            }
        }
    }

    &.top {
        > .table-row-layout {
            > .table-cell-layout {
                vertical-align: top;
            }
        }
    }

    &.bottom {
        > .table-row-layout {
            > .table-cell-layout {
                vertical-align: bottom;
            }
        }
    }
}
