// text color-md
@include generate-txt-palette($media-query: 'md');

// background color-md
@include generate-background-palette($media-query: 'md');

// text transform
.uppercase-md {
    text-transform: uppercase;
}

.capitalize-md {
    text-transform: capitalize;
}

.lowercase-md {
    text-transform: lowercase;
}

.three-dots-md {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.overlay-md {
    background-color: $overlay-clr;
    z-index: 1000;
    @extend .fit-all-fixed-md, .simple-mono-transition-md, .fade-out-md;

    &.shown {
        @extend .fade-in-md;
    }

    &.light {
        background-color: $light-overlay-clr;
    }
}

// positioning & layouts
.relative-md {
    position: relative;
}

.absolute-md {
    position: absolute;
}

.border-box-md {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.fixed-md {
    position: fixed;
}

.fit-all-abs-md {
    @include fit-all(absolute);
}

.fit-all-fixed-md {
    @include fit-all(fixed);
}

.full-width-md {
    width: 100%;
}

.pull-start-md {
    @include pull-start();
}

.pull-end-md {
    @include pull-end();
}

.pull-none-md {
    float: none;
}

.row-md {
    margin-right: -15px;
    margin-left: -15px;
}

.clear-md {
    clear: both;
}

.clearfix-md {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

.hide-md {
    display: none;
}

.block-md {
    display: block;
}

.in-block-md {
    display: inline-block;
    vertical-align: middle;
}

.in-table-md {
    display: inline-table;
}

.table-cell-md {
    display: table-cell;
}

.txt-start-md {
    @include txt-start();
}

.txt-end-md {
    @include txt-end();
}

.txt-center-md {
    text-align: center;
}

.center-vert-md {
    @extend .in-block-md, .absolute-md;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center-horiz-md {
    @extend .in-block-md, .relative-md;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.center-all-md {
    @extend .absolute-md;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.zero-padd-md {
    padding: 0 !important;
}

.mr-t5-md {
    margin-top: 5px;
}

.mr-t10-md {
    margin-top: 10px;
}

.mr-t20-md {
    margin-top: 20px;
}

.mr-t30-md {
    margin-top: 30px;
}

.mr-t40-md {
    margin-top: 40px;
}

.mr-t50-md {
    margin-top: 50px;
}


.mr-b10-md {
    margin-bottom: 10px;
}

.mr-b20-md {
    margin-bottom: 20px;
}

.mr-b30-md {
    margin-bottom: 30px;
}

.mr-b40-md {
    margin-bottom: 40px;
}

.mr-b50-md {
    margin-bottom: 50px;
}

.mr-v20-md {
    margin-top: 20px;
    margin-bottom: 20px;
}

.padd-v10-md {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padd-v20-md {
    padding-top: 20px;
    padding-bottom: 20px;
}

.table-layout-md {
    display: block;

    > .table-row-layout {
        display: block;

        > .table-cell-layout {
            display: block;

            + .table-cell-layout {
                @include padd-start(0);
            }
        }
    }

    &.inline {
        @extend .in-block-md;
    }
}
