// _variables.scss

/* ==========================================================================
   theme Colors
   ========================================================================== */

// theme palette
$theme-colors: ( white: #fff, default: #2196F3, primary: #9C27B0, secondary: #FFC107, caution: #FFC107, warning: #FF5722, danger: #d50000, success: #009688, info: #2196F3, body-bg: #efefef );

// grey shadows
$grey-shadows: ( 0: #ececec, 1: #555, 2: #777, 3: #333, 4: #999 );

// other colors
$overlay-clr: rgba(0,0,0,.8);
$light-overlay-clr: rgba(255,255,255,.8);

/* ==========================================================================
   frameWork general configurations
   ========================================================================== */

// custom fonts
$custom-font: 'GEFlow'; // default value
$custom-font-bold: 'GEFlow-Bold'; // default value

// icon font sizes
$icon-sizes: ( xs: .9em, sm: 1em, md: 1.5em, lg: 2em, xlg: 3em );
$icon-size-xs: .9em;
$icon-size-sm: 1em;
$icon-size-md: 1.5em;
$icon-size-lg: 2em;
$icon-size-xlg: 3em;

// general components configuartion
$gen-is-bordered: true;
$gen-border-width: 1px;
$gen-border-style: solid;
$gen-border-bottom-width: 2px;
$gen-border-color: #bbb;

// border radius
$gen-is-cornered: true;
$border-radius-small: 2px;
$border-radius-regular: 3px;
$border-radius-large: 5px;
$border-radius-xlarge: 7px;

// product prefix
$prefix: ui-kit;

// relative paths
$relative-path: '/'; // Local
/*$relative-path: '/style library/#{$prefix}_root/'; // Sharepoint*/

// configuations
$load-bootstrap: true;
$load-angular_material: false;

// use defaults
$gen-use-defaults: true;
$is-root-kit: true; // used to set custom fonts
