/* ============= Animation Modules ============= */

// simple mono transition
.simple-mono-transition-xs {
    @include mono-transition(all, 0.2s, ease-in-out, 0s);
}

// cubic bezier mono transition
.cubic-bezier-mono-transition-xs {
    @include mono-transition(all, .3s, cubic-bezier(0,.99,.14,1), 0s);
}

.fade-out-xs {
    opacity: 0;
    visibility: hidden;
}

.fade-in-xs {
    opacity: 1;
    visibility: visible;
}

.zoom-in-xs {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.zoom-out-xs {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
}
