// _attachment.scss

.#{$prefix}-attachment {
    @extend .full-width;

    &.required {
        .attachment-title-wrapper {
            .attach-type-title {
                @extend .relative;

                &:after {
                    content: $icon-asterisk;
                    font-size: .5em;
                    top: 0;
                    @include end(-20px);
                    @extend .font-icon, .txt_danger-clr, .absolute;
                }
            }
        }
    }

    .attachment-row-group {
        .attachment-title-wrapper {
            .attach-type-title {
                @extend .txt_grey_clr-3, .in-block;
            }
        }

        .attachment-content {
            .showMessage {
                opacity: 0;
                -moz-transform: scaleX(0);
                -ms-transform: scaleX(0);
                -o-transform: scaleX(0);
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                max-height: 0;
                @extend .simple-mono-transition;


                &.shown {
                    opacity: 1;
                    -moz-transform: scaleX(1);
                    -ms-transform: scaleX(1);
                    -o-transform: scaleX(1);
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                    max-height: 150px;
                }

                .alert {
                    @include padd-all(10px, 20px, 10px, 50px);
                    @extend .txt_white-clr, .relative;


                    &:before {
                        content: $icon-thumbs-up;
                        font-size: 1.5em;
                        @include start(15px);
                        @extend .center-vert, .font-icon;
                    }

                    &.alert-success {
                        @extend .bg_success-clr;
                    }

                    &.alert-warning {
                        @extend .bg_warning-clr;
                    }

                    &.alert-danger {
                        @extend .bg_danger-clr;
                    }
                }
            }

            .attachment-wrapper[role="document"] {
                @extend .table-layout-md;

                .attach-type-container {
                    /*@extend .table-layout-md > .table-row-layout;*/
                    @extend .#{$prefix}-table;
                    // TODO: to add md components and make it display block
                    .custom-input {
                        z-index: 30;
                        $dim: 17px;

                        .toggler-btn {
                            height: 22px;
                            @extend .txt_danger-clr;
                        }

                        .toggler-input {
                            ~ .toggler-btn {
                                @include padd-start(30px);
                            }

                            ~ .toggler-state {
                                width: $dim;
                                height: $dim;

                                &:before {
                                    font-size: 11px;
                                }
                            }

                            &:hover {
                                ~ .toggler-btn {
                                    @extend .txt_default-clr;
                                }
                            }
                        }
                    }

                    .action-btn {
                        border: none;
                        background-color: transparent;
                        outline: none;
                        border-radius: $border-radius-small;
                        @extend .relative, .simple-mono-transition, .in-block;

                        [class*="icon-"] {
                            font-size: 1.5em;
                            @include mr-end(3px);
                            @extend .simple-mono-transition, .txt_grey_clr-1, .in-block;
                        }

                        &[disabled] {
                            &:hover {
                                &, [class*="icon-"] {
                                    @extend .txt_grey_clr-6;
                                }
                            }
                        }

                        &.primary-btn {
                            &, [class*="icon-"] {
                                color: $default-clr;
                            }
                        }

                        &.danger-btn {
                            &, [class*="icon-"] {
                                @extend .txt_danger-clr;
                            }
                        }

                        + .action-btn {
                            @include padd-start(5px);
                            @include border-start(1px solid @grey_clr-4);
                        }
                    }

                    .tooltipped {
                        &:before {
                            font-size: .7em;
                        }
                    }

                    .table-layout, .table-layout-sm {
                        .table-row-layout {
                            .table-cell-layout {
                                + .table-cell-layout {
                                    @include padd-start(0);
                                }
                            }
                        }
                    }

                    .group-action {
                        .action-btn {
                            height: 30px;
                        }
                    }

                    .attach-uploader {
                        padding: 30px 20px 10px;
                        min-width: 380px;
                        @extend .relative;

                        &:before {
                            content: '';
                            top: 0;
                            bottom: 0;
                            @include start(0);
                            border: 1px solid map-get($theme-colors, default);
                            @extend .absolute;
                        }


                        .uploader-field, .uploader-field-state {
                            &:extend(.absolute, .simple-mono-transition);
                            height: 100%;
                            top: 0;
                            z-index: 10;
                        }

                        .uploader-field-state {
                            background-color: fade(@default-clr, 10%);
                            // border: 1px solid @default-clr;
                            .start(0);
                            &:extend(.full-width, .border-box);

                            &:before {
                                content: attr(data-title);
                                top: 10px;
                                .end(20px);
                                &:extend(.absolute, .simple-mono-transition, .txt_grey_clr-1);
                            }

                            &:after {
                                content: '';
                                top: 0;
                                height: 2px;
                                -moz-transform: scaleX(0);
                                -ms-transform: scaleX(0);
                                -o-transform: scaleX(0);
                                -webkit-transform: scaleX(0);
                                transform: scaleX(0);
                                .start(0);
                                &:extend(.absolute, .simple-mono-transition, .full-width, .fade-out, .bg_caution-clr);
                            }

                            &.read-only {
                                &:extend(.hide);

                                ~ .attach-type-title {
                                    margin-top: 0;
                                }

                                &:before {
                                    &:extend(.hide);
                                }
                            }
                        }

                        .uploader-field {
                            opacity: 0;
                            .end(0);
                            width: 70%;
                            z-index: 20;
                            position: absolute !important;

                            &:hover {
                                cursor: pointer;

                                ~ .uploader-field-state {
                                    background-color: fade(@caution-clr, 10%);

                                    &:before {
                                        .move-start(30px, scale(1.1));
                                        &:extend(.txt_warning-clr);
                                    }

                                    &:after {
                                        -moz-transform: scaleX(1);
                                        -ms-transform: scaleX(1);
                                        -o-transform: scaleX(1);
                                        -webkit-transform: scaleX(1);
                                        transform: scaleX(1);
                                        &:extend(.fade-in);
                                    }
                                }
                            }
                        }

                        .attach-actions {

                            .table-row-layout {
                                .table-cell-layout {
                                    &.select-all-cell {
                                        width: 140px;
                                    }
                                }
                            }
                        }

                        .attach-validation {
                            .@ {
                                prefix
                            }

                            -rgx-val {
                                &:extend(.txt_danger-clr, .bold, .mr-t10, .txt-end);
                            }
                        }

                        .alert-msg {
                            border: none;
                            background-color: transparent;
                            &:extend(.txt_grey_clr-3);

                            code {
                                margin: 3px 5px;
                                background-color: desaturate(lighten(@grey_clr-3, 48%), 45%);
                                padding: 2px 7px;
                                border-radius: 3px;
                                word-break: break-word;
                                &:extend(.in-block);
                            }

                            &:before {
                                .start(0);
                            }
                        }
                    }

                    .attach-files-wrapper {
                        // border-top: 1px solid #ddd;
                        .file-item {
                            padding: 5px 10px;
                            box-shadow: 1px 1px 2px -1px fade(#000, 20%);
                            background: fade(#fff,60%);
                            border: 1px solid fade(@default-clr, 50%);
                            &:extend(.mr-t10);

                            .item-details {


                                .item-name {
                                    .padd-end(10px);
                                    &:extend(.border-box);

                                    md-checkbox {
                                        > .md-label {
                                            > span {
                                                width: 250px;
                                                &:extend(.block, .three-dots);
                                            }
                                        }
                                    }
                                }

                                .item-actions {
                                    white-space: nowrap;
                                    .padd-start(10px);
                                }
                            }

                            .file-note {
                                .file-note-field {
                                    border: none;
                                    border-top: 2px solid transparent;
                                    background-color: transparent;
                                    resize: vertical;
                                    height: 50px;
                                    font-size: .8em;
                                    outline: none;
                                    &:extend(.padd-10, .full-width, .border-box, .simple-mono-transition);

                                    &:focus {
                                        margin-top: 10px;
                                        border-top: 2px solid @default-clr;
                                    }
                                }
                            }

                            + .file-item {
                                border-top: 1px solid #ddd;
                            }

                            &:last-child {
                                &:extend(.mr-b20);
                            }
                        }
                    }

                    .attach-uploads-wrapper {
                        vertical-align: top;
                        .padd-start(20px);
                        &:extend(.table-layout-md > .table-row-layout > .table-cell-layout);
                    }

                    .attach-uploader-wrapper {
                        vertical-align: top;
                        &:extend( .table-layout-md > .table-row-layout > .table-cell-layout);
                    }
                }

                .attach-seperator {
                    /*border: 15px solid #efefef;*/
                    border: 15px solid #fff;
                    margin: 0;
                }

                &.required-attach {
                    .attach-uploader {



                        .uploader-field-state {
                            background-color: fade(@error-clr, 10%);
                        }

                        .uploader-field {
                            &:hover {
                                ~ .uploader-field-state {
                                    background-color: fade(@error-clr, 10%);
                                }
                            }
                        }

                        &:before {
                            border-color: @error-clr;
                        }
                    }
                }
            }
        }
    }

    .multi-uploader & {
        .attachment-row-group {
            .attachment-content {
                .attachment-wrapper[role="document"] {
                    &:extend(.block);

                    .attach-type-container {
                        &:extend(.block);

                        .attach-uploader-wrapper, .attach-uploads-wrapper {
                            &:extend(.block);
                        }

                        .attach-uploader-wrapper {
                            .attach-uploader {
                                min-width: 0;
                            }
                        }

                        .attach-uploads-wrapper {
                            .padd-start(0);
                            &:extend(.mr-t20);
                        }

                        .attach-files-wrapper {
                            .file-item {
                                > .table-layout-sm {
                                    &:extend(.block);

                                    .item-details {
                                        &, .item-name {
                                            &:extend(.block);
                                        }

                                        .item-name {
                                            margin-bottom: 15px;
                                            width: auto;
                                        }

                                        .item-date, .item-actions {
                                            &:extend(.in-block);
                                        }

                                        .item-actions {
                                            &:extend(.pull-end);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.@ {
    prefix
}

-form {

    .@ {
        prefix
    }

    -form-row {

        .mep-attachment {
            border-bottom: 1px solid @grey_clr-6;
        }

        &:last-child {
            .mep-attachment {
                border-bottom: 0;
            }
        }
    }
}
