.#{$prefix}-form[role="form"] {
    > .#{$prefix}-form-row[role="row"] {
        > .#{$prefix}-form-cell[role="gridcell"] {
            padding: 0;
            max-width: none;

            > .cell-label {
                @if ($gen-use-defaults) {
                    @extend .hide-xs;
                }

                &.required {
                    ~ .cell-control {
                        .#{$prefix}-control {
                            &[role="textbox"], &[role="combobox"] {
                                &:after {
                                    visibility: visible;
                                    z-index: 0;
                                }
                            }
                        }
                    }
                }
            }

            > .cell-control {
                .#{$prefix}-control {
                    > .#{$prefix}-req-val {
                        &[style*="visible"], &[style*="inline"] {
                            ~ .#{$prefix}-field {
                                border-color: map-get($theme-colors, error);
                            }

                            ~ .#{$prefix}-control-icon {
                                background-color: transparent;
                                color: map-get($theme-colors, error);
                            }

                            &:after {
                                bottom: calc(100% + 5px;
                            }
                        }
                    }

                    &.iconed {
                        ~ .#{$prefix}-control-hint {
                            @include mr-start(45px);
                        }

                        &.end-icon {
                            > .#{$prefix}-req-val {
                            }

                            ~ .#{$prefix}-control-hint {
                                @include mr-start(0);
                            }
                        }
                    }

                    &.large-control {
                        > .#{$prefix}-req-val {
                            &[style*="visible"], &[style*="inline"], &:not(.ng-hide) {
                                &:after {
                                    bottom: calc(100% + 17px);
                                }
                            }
                        }
                    }
                }
            }

            + .#{$prefix}-form-cell[role="gridcell"] {
                padding-top: 10px;
            }

            &.hide-xs {
                @extend .hide-xs;
            }
        }

        + .#{$prefix}-form-row[role="row"] {
            .#{$prefix}-form-cell[role="gridcell"] {
                padding-top: 10px;
            }
        }
    }

    .form-section-title {
        ~ .#{$prefix}-form-row[role="row"] {
            > .#{$prefix}-form-cell[role="gridcell"] {
                &:first-child {
                    padding-top: 30px;
                }
            }
        }

        @extend .block-xs;
    }

    + .#{$prefix}-form[role="form"] {
        > .#{$prefix}-form-row[role="row"] {
            > .#{$prefix}-form-cell[role="gridcell"] {
                padding-top: 10px;
            }
        }
    }
}
/* End Form */
