// use default button styles
$use-default: $gen-use-defaults;

// Borders
$is-bordered: $gen-is-bordered;
$is-cornered: $gen-is-cornered;
$border-radius: $border-radius-regular;
$border-width: $gen-border-width;
$border-style: $gen-border-style;
$border-bottom-width: $gen-border-bottom-width;
$border-color: $gen-border-color;
$textarea-height: 80px;

// Dimensions
$control-height: 32px;
$control-line-height: $control-height - 2px;
$control-horiz-padd: 15px;
$icon-shift: 10px;
$icon-size: 20px;
