.#{$prefix}-group[role="group"] {
    @extend .full-width-xs;

    .#{$prefix}-control {
        > .#{$prefix}-input {
            @extend .three-dots-xs;
        }

        &[role="button"] {
            &.iconed {
                &, &.end-icon {
                    > .#{prefix}-input {
                        font-size: 0;
                    }

                    > .#{prefix}-control-icon {
                        right: auto;
                        left: 50%;
                        -moz-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        -o-transform: translate(-50%, -50%);
                        -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }

        &[role="textbox"] {
            min-width: 0;
        }
    }
}
