// empty message
.#{$prefix}-alert[role="alert"] {
    background-color: #fff;
    border: $border-width $border-style;
    border-bottom-width: $border-bottom-width;
    overflow: hidden;
    font-size: .9em;

    @if ($gen-is-cornered) {
        border-radius: $border-radius-regular;
    }

    @extend .in-table, .txt_grey_clr-3 !optional;

    .#{$prefix}-alert-content, .#{$prefix}-alert-icon {
        vertical-align: middle;
        @extend .table-cell !optional;
    }

    .#{$prefix}-alert-content {
        padding: 6px 20px;
    }

    .#{$prefix}-alert-icon {
        font-size: 1.2em;
        width: 50px;
        padding: 0 10px;
        @extend .txt_white-clr, .txt-center;
    }

    &.success {
        border-color: map-get($theme-colors, success);

        .#{$prefix}-alert-icon {
            @extend .bg_success-clr;
        }
    }

    &.caution {
        border-color: map-get($theme-colors, caution);

        .#{$prefix}-alert-icon {
            @extend .bg_caution-clr;
        }
    }

    &.warning {
        border-color: map-get($theme-colors, warning);

        .#{$prefix}-alert-icon {
            @extend .bg_warning-clr;
        }
    }

    &.danger {
        border-color: map-get($theme-colors, danger);

        .#{$prefix}-alert-icon {
            @extend .bg_danger-clr;
        }
    }

    &.info {
        border-color: map-get($theme-colors, info);

        .#{$prefix}-alert-icon {
            @extend .bg_info-clr;
        }
    }
}
