/* ==========================================================================
   Navigation Menu
   ========================================================================== */

.nav-menu-placeholder {
    @include padd-start(75px);

    .ms-core-listMenu-horizontalBox {
        .ms-core-listMenu-root {
            > li {
                > ul.static {
                    > li {
                        &.dynamic-children {
                            > a {
                                &.dynamic-children {
                                    .dynamic-children.additional-background {
                                        &:after {
                                            @include mr-start(13px);
                                            @include mr-end(3px);
                                        }
                                    }
                                }
                            }

                            &:before {
                                content: '';
                                background: rgba(0,0,0,.2);
                                width: 35px;
                                height: 100%;
                                top: 0;
                                @include end(0);
                                z-index: 10;
                                @extend .absolute-md;
                            }
                        }
                    }
                }
            }
        }
    }
}
